@use "reset";

$base-size: 1rem;

body {
    max-width: min(80ch, 100vw - $base-size);
    margin-inline: auto;
    background-color:greenyellow;
    text-align: right;
    color:navy;
    font-size: xx-large;
}

nav > ul {
    display: flex;
    gap: $base-size;
    list-style: none;
    padding: 0;
}

picture > img {
    display: block;
    max-width: 100%;
    height: auto;
}

nav:hover {
    background-color: gold;
    color:hotpink;
}
